html {
  font-size: 100px;
}
body {
  background-color: #efefef;
  -moz-user-select: none;
  -webkit-user-select: none;
}
* {
  font-size: 0.12rem;
  padding: 0;
  margin: 0;
  list-style: none;
}
img{
  max-width: 100%;
}
ins {
  text-decoration: none;
}
mark {
  background-color: transparent;
  color: inherit;
}
#app {
  padding: 10px;
}
textarea {
  width: 100%;
  height: 5em;
}
.po-screen-size {
  padding-bottom: 1em;
  .el-input {
    display: inline-block;
    width: 80px;
    margin: 0 5px;
  }
  .el-select {
    width: 100px;
    margin-right: 10px;
    .el-input {
      width: 100%;
    }
  }
}
.po-main {
  white-space: nowrap;
  > * {
    white-space: normal;
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin-right: 10px;
  }
  .po-body {
    .po-screen {
      overflow: auto;
      scrollbar-face-color: #000; /*面子*/
      scrollbar-arrow-color: #fff; /*箭头*/
      scrollbar-3dlight-color: #ccc; /*最外左*/
      scrollbar-highlight-color: #ccc; /*左二*/
      scrollbar-shadow-color: #ccc; /*右二*/
      scrollbar-darkshadow-color: #ccc; /*右一*/
      scrollbar-track-color: #eeeeee; /*滑道*/
      letter-spacing: 1px;
      &::-webkit-scrollbar {
        width: 1px;
        height: 0px;
      } /*滚动条宽度*/
      &::-webkit-scrollbar-track-piece {
        background-color: none; /*滑道*/
        -webkit-border-radius: 0px; /*滑道圆角宽度*/
      }
      &::-webkit-scrollbar-thumb {
        background-color: #666; /*滑动条表面*/
        border: solid 0px #ccc; /*滑动条边框*/
        border-radius: 7px; /*滑动条圆角宽度*/
      }
      /*横竖滚动条交角*/
      &::-webkit-scrollbar-corner {
        background-color: none;
      }
      /*横竖滚动条交角图案*/
      &::-webkit-resizer {
        /*background-image: url(/public/img/resizer-inactive.png);*/
        background-repeat: no-repeat;
        background-position: bottom right;
      }
      /*鼠标滑过滑动条*/
      &::-webkit-scrollbar-thumb:hover {
        background-color: #bbb;
        border: solid 2px #bbb; /*滑动条边框*/
      }
      *:not(i) {
        &::before,
        &::after {
          content: '';
          display: block;
          clear: both;
          width: 100%;
          overflow: hidden;
        }
      }
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
      background-color: #fff;
      &::before,
      &::after {
        content: '';
        display: block;
        clear: both;
        width: 100%;
        overflow: hidden;
      }
      .po-el-item {
        position: relative;
        display: block;
        > :first-child {
          left: 0 !important;
          top: 0 !important;
          margin: auto !important;
          position: relative !important;
          vertical-align: top;
          transform: none !important;
        }
        > img {
          user-select: none;
          vertical-align: top;
        }
        .po-el-controls {
          display: none;
          .context-menu {
            position: absolute;
            z-index: 10000;
            text-align: left;
            background: #fff;
            border: 1px #eee solid;
            box-shadow: 2px 2px 5px 0px #eee;
            li {
              padding: 0.3em 0.5em 0.3em 0.3em;
              border-bottom: 1px #aaa solid;
              white-space: nowrap;
              i {
                margin-right: 0.5em;
              }
              &:hover {
                background-color: #000;
                color: #fff;
              }
            }
            .focus-filed {
              width: 0;
              height: 0;
              overflow: hidden;
              position: absolute;
              opacity: 0;
            }
          }
          .textarea textarea {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 10;
            appearance: none;
            background: #fff;
            border: none;
            resize: none;
            font-size: inherit;
            font-family: inherit;
          }
          .resize-group {
            s {
              position: absolute;
              z-index: 100;
              &:nth-child(1),
              &:nth-child(3) {
                width: 100%;
                height: 0;
                border-top: 1px #0095f8 dashed;
              }
              &:nth-child(2),
              &:nth-child(4) {
                width: 0;
                height: 100%;
                border-left: 1px #0095f8 dashed;
              }
              &:nth-child(1) {
                left: 0;
                top: 0;
              }
              &:nth-child(2) {
                right: 0;
                top: 0;
              }
              &:nth-child(3) {
                left: 0;
                bottom: 0;
              }
              &:nth-child(4) {
                left: 0;
                top: 0;
              }
            }
            b {
              position: absolute;
              z-index: 100;
              display: inline-block;
              width: 10px;
              height: 10px;
              font-size: 0;
              line-height: 0;
              border-radius: 50%;
              border: 1px #0095f8 solid;
              background-color: #fff;
              text-align: center;
              text-indent: -2px;
              &::before {
                display: inline-block;
                width: 30%;
                height: 30%;
                border-top: 1px #0095f8 solid;
                border-right: 1px #0095f8 solid;
                font-size: 0;
                vertical-align: middle;
                line-height: 0;
              }
              &::after {
                display: inline-block;
                width: 0;
                height: 100%;
                vertical-align: middle;
                font-size: 0;
                line-height: 0;
              }
              &.resize-width {
                right: -5px;
                top: 50%;
                margin-top: -5px;
                &::before {
                  transform: rotate(45deg);
                }
              }
              &.resize-height {
                left: 50%;
                bottom: -5px;
                margin-left: -5px;
                &::before {
                  transform: rotate(135deg);
                }
              }
              &.resize-all {
                right: -5px;
                bottom: -5px;
                &::before {
                  transform: rotate(90deg);
                }
              }
            }
            .resize-rotate {
              position: absolute;
              display: inline-block;
              right: -20px;
              bottom: -20px;
            }
          }
        }
        &.active {
          > mark.po-el-controls {
            display: block;
            z-index: 2;
          }
        }
        .swiper-slide img{
          max-width: 100%;
        }
      }
    }
    .resize {
      content: '✣';
      position: absolute;
      width: 1em;
      height: 1em;
      left: 100%;
      top: 100%;
      margin: -0.2em;
      border-radius: 100%;
      &::before {
        content: '✣';
        line-height: 1;
        display: inline-block;
        vertical-align: top;
        color: #409eff;
      }
      &:hover {
        transform: scale(1.2);
      }
    }
    .po-save {
      position: absolute;
      top: 100%;
      margin-top: 10px;
      text-align: left;
    }
  }

  .po-toolbar {
    .el-button {
      display: block;
      margin-left: 0;
      margin-bottom: 15px;
      svg {
        font-size: 18px;
      }
    }
  }
  .po-options {
    background-color: #fdfdfd;
    padding: 10px;
    border: 1px solid #ddd;
    font-size: 11px;
    text-align: left;
    white-space: nowrap;
    > .po-options-group {
      white-space: normal;
      display: inline-block;
      max-width: 320px;
      vertical-align: top;
      > h2 {
        font-size: 1.2em;
      }
      & + .po-options-group {
        margin-left: 20px;
        padding-left: 20px;
        border-left: 1px #ddd solid;
      }
    }
    dl {
      position: relative;
      padding-left: 0em;
      dt {
        min-height: 2em;
      }
      dd {
        padding-left: 1em;
        white-space: nowrap;
        &.po-options-type {
          display: none;
        }
        &.po-options-draging {
          display: none;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
      * + dd {
        margin-top: 10px;
      }
      .h2 {
        font-weight: bold;
        margin-bottom: 10px;
      }
      label {
        display: inline-block;
        width: 120px;
        text-align: left;
        padding-right: 1em;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .field {
        display: inline-block;
        vertical-align: top;
      }
      input {
        font-size: inherit;
        border: 1px #ddd solid;
        border-radius: 0;
        padding: 0.2em;
        background: #fff;
        height: 2em;
        line-height: 1;
        box-sizing: border-box;
      }
      dd > input,
      dd > .field {
        width: 10em;
      }
      dd > .delete-param {
        display: inline-block;
        vertical-align: middle;
        visibility: hidden;
        font-size: 15px;
        margin-left: 3px;
        margin-top: 3px;
        color: #ddd;
        pointer-events: none;
        cursor: pointer;
      }
      dd:hover > .delete-param {
        visibility: visible;
        pointer-events: initial;
        &:hover {
          color: #ff0000;
        }
      }
      .el-input {
        font-size: inherit;
      }
      .el-input__suffix * {
        line-height: 1;
      }
    }
    & * + dl {
      margin-top: 10px;
      border-bottom: 1px #ddd dotted;
      padding-bottom: 10px;
    }
    .style-custom {
      position: relative;
      height: 100px;
      textarea {
        font-size: inherit;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 5px;
      }
      .submit {
        position: absolute;
        right: 0;
        bottom: 0;
        background: #409eff;
        text-align: center;
        color: #fff;
        padding: 5px;
        cursor: pointer;
        &::before {
          content: 'OK';
          display: inline-block;
          line-height: 1;
        }
        &.disabled {
          cursor: default;
          background: #aaa;
          pointer-events: none;
        }
      }
    }
    .po-options-foot {
      text-align: right;
      padding-top: 10px;
    }
  }
}
