mark {
  background-color: transparent;
  color: inherit;
}
#app {
  padding: 10px;
}
body {
  background-color: #efefef;
  -moz-user-select: none;
  -webkit-user-select: none;
}
* {
  padding: 0;
  margin: 0;
  list-style: none;
}
textarea {
  width: 100%;
  height: 5em;
}
.po-screen-field {
  padding: 1em;
  .el-input {
    display: inline-block;
    width: 80px;
    margin: 0 5px;
  }
  .el-select {
    width: 100px;
    margin-right: 10px;
    .el-input {
      width: 100%;
    }
  }
}
.po-main {
  border: 1px #ddd solid;
  background-color: #fff;
  position: relative;
  .resize {
    content: '✣';
    position: absolute;
    width: 1em;
    height: 1em;
    left: 100%;
    top: 100%;
    margin: -0.2em;
    border-radius: 100%;
    &::before {
      content: '✣';
      line-height: 1;
      display: inline-block;
      vertical-align: top;
      color: #409eff;
    }
    &:hover {
      transform: scale(1.2);
    }
  }
  .po-screen {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .po-el-item {
      position: absolute;
      > :first-child {
        left: 0 !important;
        top: 0 !important;
        margin: auto !important;
        position: relative !important;
      }
      > img {
        user-select: none;
        vertical-align: top;
      }
      .resize {
        display: none;
      }
      &.active {
        &:before {
          content: '';
          position: absolute;
          width: 10%;
          padding-bottom: 10%;
          right: -5px;
          top: -5px;
          border-top: 1px #f30 solid;
          border-right: 1px #f30 solid;
        }
        &:after {
          content: '';
          position: absolute;
          width: 10%;
          padding-bottom: 10%;
          left: -5px;
          bottom: -5px;
          border-left: 1px #f30 solid;
          border-bottom: 1px #f30 solid;
        }
        > .resize {
          display: block;
          z-index: 2;
        }
      }
      &.v-draging {
        box-shadow: 0 0 10px 0 rgb(0, 195, 255);
      }
      .context-menu {
        position: absolute;
        z-index: 10000;
        text-align: left;
        background: #fff;
        border: 1px #eee solid;
        box-shadow: 2px 2px 5px 0px #eee;
        li {
          padding: 0.3em 0.5em 0.3em 0.3em;
          border-bottom: 1px #aaa solid;
          white-space: nowrap;
          i {
            margin-right: 0.5em;
          }
          &:hover {
            background-color: #000;
            color: #fff;
          }
        }
        .focus-filed {
          width: 0;
          height: 0;
          overflow: hidden;
          position: absolute;
          opacity: 0;
        }
      }
    }
  }
  .po-toolbar {
    position: absolute;
    left: calc(100% + 10px);
    top: 0;
    .el-button {
      margin-left: 0;
      margin-bottom: 15px;
    }
  }
  .po-options {
    position: absolute;
    background-color: #fff;
    padding: 10px;
    left: calc(100% + 10px);
    top: 0;
    font-size: 11px;
    text-align: left;
    margin-left: 50px;
    .po-options-el {
      padding-top: 10px;
      border-top: 1px #aaa solid;
    }
    dl {
      position: relative;
      padding-left: 0em;
      .h2 {
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 10px;
      }
      label {
        display: inline-block;
        width: 120px;
        text-align: left;
        padding-right: 1em;
      }
      .field {
        display: inline-block;
        vertical-align: top;
      }
      input {
        font-size: inherit;
        border: 1px #ddd solid;
        padding: 0.2em;
        background: #fff;
        height: 2em;
        line-height: 1;
        box-sizing: border-box;
        box-shadow: 1px 1px 0 1px #eee inset;
      }
      > input {
        width: 10em;
      }
      .el-input {
        font-size: inherit;
      }
      .el-input__suffix * {
        line-height: 1;
      }
    }
    & * + dl {
      margin-top: 10px;
      padding-top: 10px;
      border-top: 1px #eee dotted;
      dt {
        top: 0;
      }
    }
    dt {
      position: relative;
      left: 0;
      top: 0;
      white-space: nowrap;
      label {
        text-align: left;
      }
    }
    dd {
      margin-bottom: 10px;
      white-space: nowrap;
      &.po-options-type {
        display: none;
      }
      &.po-options-draging {
        display: none;
      }
    }
    .style-custom {
      position: relative;
      height: 100px;
      textarea {
        font-size: inherit;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 5px;
      }
      .submit {
        position: absolute;
        right: 0;
        bottom: 0;
        background: #409eff;
        text-align: center;
        color: #fff;
        padding: 5px;
        cursor: pointer;
        &::before {
          content: 'OK';
          display: inline-block;
          line-height: 1;
        }
        &.disabled {
          cursor: default;
          background: #aaa;
          pointer-events: none;
        }
      }
    }
    .po-options-foot {
      text-align: right;
    }
  }
}
