/* 改变主题色变量 */
$--color-primary: #409EFF;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

.q-input{
  width: 200px;
  margin-right: 10px;
  display: inline-block;;
}
.q-margin{
  width: 10px;
  display: inline-block;;
}
.q-tips{
  font-size: 12px;
  color: rgb(168, 170, 172);
}
@import "~element-ui/packages/theme-chalk/src/index";